{% extends "base.html" %}
{% load static %}


{% block content %}
   
    <!--<form method="post" action="{% url 'principal' %}">-->
    <div class="logo">
        <img src="{% static 'images/cooper.png' %}" alt="coopergaedicke logo" class="cooperLogo">
    </div>
    <br><br>
    <div class="centeritems" >
  
    <div class="loginbox">
      <form method="post" action="{% url 'teste' %}" class="teste">
        {% csrf_token %}
          {{ form.user.label_tag}}
          {{ form.user}}
          {{ form.password.label_tag}}
          {{ form.password }}
        <br>
        <br>
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
        <br>  
      </form>
    </div>
    <!--<p><a href="{% url 'login' %}">Lost password?</a></p>
            <p></p>
            Usuário
            <input type="text" name="user" placeholder="Usuário" >
            <br><br>
            Senha
            <input type="password" name="password" placeholder="Senha" >
            <p></p>
        </div>-->
        <!--<div>
            <p></p>
            <a href="{% url 'principal' %}"><button type="submit" class="checkbutton">Entrar</button></a>
        </div> -->
    </div>
    <p class="bluetext">Desenvolvido por:</p>
    <img src="{% static 'images/CETEC-Logo-Horizontal.png' %}" alt="logo cetec" class="ceteclogo">
    
{% endblock content %}
