{% load static %}
{% load widget_tweaks%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/cadastrar_page_style.css' %}" />
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooper Gaedicke</title>
</head>
{% block content %}
    <div class="header">
      <img src="{% static 'images/cooper.png' %}" alt="coopergaedicke logo" class="cooperLogo">
    </div>
    <div class="centeritems">
      <div class="formulario">
          <form  method="post" action="{% url 'updateassociado' %}">
            {% csrf_token %}
            <h2><strong>Cadastro do Associado</strong></h2>
            <hr>
            <br>
            <div class="inputBox">
              <label for="nome" class="labelinput">Nome Completo:</label>
              <div class="inputUser">{{ form.nome }}</div>
            </div><!--nome-->
            <br>
            <div class="inputBox">
              <label for="nomedamae" class="labelinput">Quotas:</label>
              <div class="inputUser">{{ form.quotas }}</div>
            </div><!--quotas-->
            <br>
            <div class="inputBox">
              <label for="nomeresponsavel" class="labelinput">Nome dos responsaveis:</label>
              <div class="inputUser">{{ form.nomeresponsavel}}</div>
            </div><!--nome responsaveis-->
            <br>
            <div class="inputBox">
              <label for="datadenascimento" class="labelinput">Data de Nascimento:</label>
              <div class="inputUser">{{ form.datadenascimento|add_class:"inputBool"  }}</div>
            </div><!--data nascimento-->
            <br>
            <div class="inputBox">
              <label for="cidadenatal" class="labelinput">Cidade Natal:</label>
              <div class="inputUser">{{ form.cidadenatal }}</div>
            </div><!--Cidade Natal-->
            <br>
            <div class="inputBox">
              <label for="estadonatal" class="labelinput">Estado Natal:</label>
              <div class="inputUser">{{ form.estadonatal }}</div>
            </div><!--Estado Natal-->
            <br>
            <div class="inputBox">
              <label for="telefone" class="labelinput">Telefone:</label>
              <div class="inputUser">{{ form.telefone }}</div>
            </div><!--telefone-->
            <br>
            <div class="inputBox">
              <label for="email" class="labelinput">E-mail:</label>
              <div class="inputUser">{{ form.email }}</div>
            </div><!--email-->
            <br>
            <div class="inputBox">
              <label for="rg" class="labelinput">Nº do RG:</label>
              <div class="inputUser">{{ form.rg }}</div>
            </div><!--rg-->
            <br>
            <div class="inputBox">
              <label for="cpf" class="labelinput">Nº do CPF:</label>
              <div class="inputUser">{{ form.cpf }}</div>
            </div><!--cpf-->
            <br>
            <div class="inputBox">
              <label for="associado" class="labelinput">Está Associado:</label>
              <div class="inputUserBool">{{ form.associado|add_class:"inputBool" }}</div>
            </div><!--associado-->
            <br>
            <div class="inputBox">
              <label for="cargo" class="labelinput">Cargo:</label>
              <div class="inputUser">{{ form.cargo }}</div>
            </div><!--Cargo-->
            <br>
            <hr>
            <h3>Endereço</h3>
            <div class="inputBox">
              <label for="rua" class="labelinput">Rua:</label>
              <div class="inputUser">{{ form.rua }}</div>
            </div><!--rua-->
            <br>
            <div class="inputBox">
              <label for="bairro" class="labelinput">Bairro:</label>
              <div class="inputUser">{{ form.bairro }}</div>
            </div><!--bairro-->
            <br>
            <div class="inputBox">
              <label for="cidade" class="labelinput">Cidade:</label>
              <div class="inputUser">{{ form.cidade }}</div>
            </div><!--cidade-->
            <br>
            <div class="inputBox">
              <label for="cep" class="labelinput">Cep:</label>
              <div class="inputUser">{{ form.cep }}</div>
            </div><!--cep-->
            <br>
            <hr>
            <input type="submit" value="salvar" />
            <input type="hidden" name="next" value="{{ next }}" />
          </form>
          <div class="downcenter">    
              <div class="buttons">
                  <a href="{% url 'principal' %}"><button type="button" class="changepagebuttons">Voltar</button></a>
                  <a href="{% url 'criaruser' %}"><button type="submit" class="changepagebuttons">Salvar</button></a>
              </div>
          </div>
      </div>
    </div>
    <br>
    <p class="bluetext">Desenvolvido por:</p>
    <img src="{% static 'images/CETEC-Logo-Horizontal.png' %}" alt="logo cetec" class="ceteclogo">
{% endblock content %}
</html>