{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="logo">
        <img src="{% static 'images/cooper.png' %}" alt="coopergaedicke logo" class="cooperLogo">
    </div>
    <br><br>
    <div class="centeritems">
    <div class="loginbox">
        <form method="post" action="{% url 'checkcpf' %}">
            {% csrf_token %}
            <table>
            <tr>
                <td>{{ form.cpf }}</td>
            </tr>
            </table>
            <div class="downcenter"><input type="submit" value="login" class="changepagebuttons"/></div>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <a href="{% url 'verassociados' %}"><button type="button" class="changepagebuttons">Voltar</button></a>
    </div>
    </div>
    <p class="bluetext">Desenvolvido por:</p>
    <img src="{% static 'images/CETEC-Logo-Horizontal.png' %}" alt="logo cetec" class="ceteclogo">
{% endblock content %}
