{% extends "base.html" %}
{%load static%}

{% block content %}
    <div class="logo">
        <img src="{% static "images/cooper.png" %}" alt="coopergaedicke logo" class="cooperLogo">
    </div>
    <br>
    <div class="centeritems">
        <div class="buttons">
            <a href="{% url 'cadsatrar' %}"><button type="button" class="changepagebuttons">Cadastrar Associados</button></a>
            <p></p>
            <a href="{% url 'gerenciar' %}"><button type="button" class="changepagebuttons">Gerenciar Associados</button></a>
        </div>
    </div>
    <p class="bluetext">Desenvolvido por:</p>
    <img src="{% static "images/CETEC-Logo-Horizontal.png" %}" alt="logo cetec" class="ceteclogo">
{% endblock content %}
</html>