{% load render_table from django_tables2 %}
{% load static %}
{% load widget_tweaks%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/ver_associados_page_style.css' %}" />
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooper Gaedicke</title>
</head>
{% block content %}
    {% render_table table %}
    <div class="downcenter">    
        <div class="buttons">
            <a href="{% url 'principal' %}"><button type="button" class="changepagebuttons">Voltar</button></a>
            <a href="{% url 'gerenciar' %}"><button type="submit" class="changepagebuttons">Gerenciar</button></a>
        </div>
    </div>
    <p class="bluetext">Desenvolvido por:</p>
    <img src="{% static 'images/CETEC-Logo-Horizontal.png' %}" alt="logo cetec" class="ceteclogo">
{% endblock content %}
</html>